@define-color placeholder_text_color #a1b6c0;

window {
	/*background:linear-gradient(0.25turn, #405170 10%, #09121D 100%);*/
	background-image: url("../img/фон3.png");
	background-position: center;
}
.req {
	color: white;	
	font-family: URW Gotic L Book;
  	font-size: 16px;

}
.but {
	background-image: none;
	border: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
}
.entry {
	/*background-color: #ffffff  3f557a;
	opacity: 0.15;*/
	background-color: #3F4756;
	border-radius: 30px;
	border: none;
	caret-color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration-color: white;
	font-family: URW Gotic L Book;
  	font-size: 13px;
  	font-weight: normal;
	/*outline-color: white;*/
}
.file {
	background-color: #3F4756;
	border-radius: 30px;
	border: none;
	caret-color: white;
	padding-left: 20px;
	padding-right: 20px;
	background-image: none;
	box-shadow: none;
	/*-gtk-icon-source: url("../img/dor.png");*/
	-gtk-icon-shadow: none;
	/*outline-color: white;*/
}

.heading{
	color: #ffffff;	
	font-size: 46px;
	font-family: URL Gotic L Book;
	font-weight: bold;
}


