window {
    background-color: #121C2A;
}
.blocks {
    background-color: #121C2A;
    box-shadow: 2px 2px 15px 3px #0E1723;
}
.label {
    color: white;
}
button * {
    border-radius: 100px;
}
.entry {
    background-color: #0E1723;
    color: whitesmoke;
    padding-left: 20px;
	padding-right: 20px;
    border-radius: 50px;
}
