window {
	/* background:linear-gradient(0.25turn, #405170 10%, #09121D 100%); */
	/* background-image: url("../img/фон2.png");
    background-position: center; */
    background-color: #121C2A;
}
.top {
    border: none;
    box-shadow: 1px 0px 20px 2px #0a1018;

}
.users {
    background-color: #121C2A;
    border: none;
    box-shadow: 1px 0px 20px 2px #0a1018;
    /* box-shadow: inset 0px 10px 4px 0px #000000;  */
    outline: none;
}
.masage {
    background-color: #09121D;
    background:linear-gradient(0.45turn, #09121D 10%, #131E2C 100%);
    border: none;
    box-shadow: 1px 0px 20px 2px #0a1018;
    outline: none;
    animation: none;
}
/* .blocks {
    background-color: #121C2A;
    box-shadow: px 2px 15px 3px #0E1723;
} */
.label {
    color: white;
}
.entry {
    background-color: #253144;
    color: whitesmoke;
    padding-left: 20px;
	padding-right: 20px;
    border-radius: 50px;
    border: none;
    caret-color: white;
}
.box{
    background-color: #34425A;
    color: white;
    border: none;
    border-radius: 7px;
}
.mbox {
    background-image: url("../img/index.png");
    border: none;
    border-radius: 30px;
}
.but {
	background-image: none;
	border: none;
    box-shadow: none;
    color: white;
	-gtk-icon-shadow: none;
}
.forv {
    background-color: #ffffff;
    background: none;
    border: none;
    outline: none;
}
#lm {
    background-color: #34425A;
    border-color: #34425A;
    box-shadow: none;
    color: whitesmoke;
    background-image: none;
}
#lm2 {
    background-color: #1C2636;
    border-color: #1C2636;
    box-shadow: none;
    color: whitesmoke;
    background-image: none;
}
overshoot.top, undershoot.top {
    box-shadow: none;
}
#stic {
    background-image: none;
	border: none;
    box-shadow: none;
    color: whitesmoke;
}
#stic2 {
    background-image: none;
	border: none;
    box-shadow: none;
    color: #F88161;
}
#rbut {
    background: whitesmoke;
    color: #0a1018; 
	border: none;
    box-shadow: none;
    border-radius: 7px;
}
