window {
	/* background:linear-gradient(0.25turn, #405170 10%, #09121D 100%); */
	/* background-image: url("../img/фон2.png");
    background-position: center; */
    background-color: #ffffff;
}
.top {
    background-color: #ffffff;
    border: none;
    box-shadow: -1px 0px 10px 0px #dddddd;

}
.bottom {
    border: none;
    box-shadow: -1px 0px 10px 0px #dddddd;

}
.users {
    background-color: #ffffff;
    border: none;
    box-shadow: -1px 0px 10px 0px #dddddd;
    outline: none;
}
.masage {
    background-color: #ffffff;
    background: none;
    border: none;
    outline: none;
}
/* .blocks {
    background-color: #121C2A;
    box-shadow: px 2px 15px 3px #0E1723;
} */
.label {
    color: #13171f;
}
.entry {
    background-color: #ffffff;
    color: #13171f;
    padding-left: 20px;
	padding-right: 20px;
    border-radius: 50px;
    border: none;
    /* box-shadow: inset 1px 0px 4px 0px #dddddd; */
    box-shadow: 1px 0px 4px 2px #d6d5d5;
    caret-color: #13171f;
}
/* button * {
    background-color: #34425A;
} */
.box{
    background-color: #34425A;
    color: white;
    border: none;
    border-radius: 7px;
}
.mbox {
    border: none;
    box-shadow: 1px 1px 4px 2px #d6d5d5;
}
.but {
    background-image: none;
    color: #13171f;
	border: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
}
.forv {
    background-color: #ffffff;
    background: none;
    border: none;
    outline: none;
}
