@define-color placeholder_text_color #a1b6c0;

window {
	background-image: url("../source/img/фон3.png");
	background-position: center;
}
.req {
	color: white;	
	font-family: URW Gotic L Book;
  	font-size: 16px;

}
.but {
	background-image: none;
	border: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
}
.entry {
	color: whitesmoke;
	background-color: #3F4756;
	border-radius: 30px;
	border: none;
	caret-color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration-color: white;
	font-family: URW Gotic L Book;
  	font-size: 13px;
  	font-weight: normal;
}
.file {
	background-color: #253144;
	border-radius: 30px;
	border: none;
	caret-color: white;
	color: whitesmoke;
	padding-left: 20px;
	padding-right: 20px;
	background-image: none;
	box-shadow: none;
	-gtk-icon-shadow: none;
}

.heading{
	color: #ffffff;	
	font-size: 46px;
	font-family: URL Gotic L Book;
	font-weight: bold;
}


